.bodyStyle{
    margin: 0;
    padding: 0;
    height: 100vh; /* Ajusta la altura al 100% de la ventana del navegador */
    background-image: linear-gradient(180deg, #f2bfff 0, #d5aeff 25%, #b99df2 50%, #9e8cd6 75%, #867bbc 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.updateImagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saveImagen{
    margin: 5%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.saveImagen img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.custom-file-input {
    display: none;
}
.custom-button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}